export const madoiUrl = "wss://your.domain.example.com/madoi-server/rooms";
export const madoiKey = "MADOI_API_KEY";
export const skyWayAppId = "SKYWAY_APP_ID";
export const skyWaySecret = "SKYWAY_SECRET";
